/* Estilos del footer */
footer {
    background-image: url(../img/espacio_estrellas2.png);
    background-size: cover;
    font-size: 15px;
    color: white;
    padding: 30px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    position: relative;
}

.footer_marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    background-image: url(../img/planeta_anillo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
