footer {
    background-image: url(../img/espacio_estrellas2.png);
    background-size: cover;
    padding: 30px;
    margin-top: 15px;
    text-align:left;
    width: 100%;
    position: relative;
    .footer_marca {
        display: flex;
        flex-direction: row;
        justify-items: left;
        align-items: center;
        h2{
            font-size: 40px;
            margin-left: 10px;
        }
    }
    p{
        font-size: 25px;
    }
    .footer_info{
        p{
            font-size: 15px;
        }
        a {
            text-decoration: none;
        }
    }
}


