.navbar {
    background-image: url(../img/espacio_luna.png);
    background-size: cover;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

header{
    nav{
        div{
            div{
                ul{
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    width: 100%;
                }
            }
        }
    }
}

.navbar-brand {
    font-size: 40px;
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 1);
}


.nav-link{
    font-size: 40px;
    transition: text-shadow 0.5s,  transform 0.5s, scale 0.5s;
    &:hover{
        text-shadow:
        0 0 1px black,
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 15px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 255, 0.438);
        transform: translateY(-5px) scale(1.1);
        transition: text-shadow 0.5s,  transform 0.5s, scale 0.5s;
    }
}
