@media (max-width: 991px) {
    .paginas {
        grid-template-columns: 1fr;
    }

    .introduccion p {
        width: 90%;
    }

    .info_servicios section {
        width: 85%;
    }

    h2, h3, p {
        font-size: 20px;
    }

    .info_nosotros div img {
        display: none;
    }

    .logo{
        width: 60px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-item {
        font-size: 20px;
        padding-left: 20px;
    }

    .info_derecha {
        text-align: left;
    }

    .contacto{
        flex-direction: column;
        align-items: center;
        .intro_contacto{
            width: 75%;
            text-align: center;
        }
    }

    footer{
        .footer_marca{
            .logo{
                width: 60px;
            }
            h2{
                font-size: 25px;
            }
        }
        p{
            font-size: 15px;
        }
        div{
            p{
                font-size: 15px;
            }
        }
    }
}

@media(max-width:1360px){
    .nav-link{
        font-size: 30px;
    }
}